src/main/mule/api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- ============================================== -->
    <!-- API MAIN FLOW                                  -->
    <!-- Contains APIKit Router ONLY - No business logic-->
    <!-- ============================================== -->
    <flow name="api-main" doc:name="API Main Flow">
        <http:listener config-ref="HTTP_Listener_Config" 
            path="${http.listener.basePath}/*" 
            doc:name="HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        
        <!-- Log Inbound Request -->
        <flow-ref name="log-inbound-request" doc:name="Log Inbound Request"/>
        
        <!-- Set Correlation ID if not present -->
        <flow-ref name="set-correlation-id" doc:name="Set Correlation ID"/>
        
        <!-- APIKit Router - Routes to implementation flows -->
        <apikit:router config-ref="netsuite-salesforce-api-config" doc:name="APIKit Router"/>
        
        <!-- Log Outbound Response -->
        <flow-ref name="log-outbound-response" doc:name="Log Outbound Response"/>
        
        <error-handler ref="global-error-handler"/>
    </flow>

    <!-- ============================================== -->
    <!-- API CONSOLE FLOW                               -->
    <!-- ============================================== -->
    <flow name="api-console" doc:name="API Console Flow">
        <http:listener config-ref="HTTP_Listener_Config" 
            path="/console/*" 
            doc:name="HTTP Listener Console"/>
        <apikit:console config-ref="netsuite-salesforce-api-config" doc:name="APIKit Console"/>
    </flow>

    <!-- ============================================== -->
    <!-- APIKIT GENERATED FLOWS - ORDERS                -->
    <!-- ============================================== -->
    <flow name="post:\orders:application\json:netsuite-salesforce-api-config" doc:name="POST /orders">
        <flow-ref name="create-order-impl" doc:name="Create Order Implementation"/>
    </flow>

    <flow name="get:\orders\(orderId):netsuite-salesforce-api-config" doc:name="GET /orders/{orderId}">
        <flow-ref name="get-order-status-impl" doc:name="Get Order Status Implementation"/>
    </flow>

    <!-- ============================================== -->
    <!-- APIKIT GENERATED FLOWS - INVENTORY             -->
    <!-- ============================================== -->
    <flow name="get:\inventory:netsuite-salesforce-api-config" doc:name="GET /inventory">
        <flow-ref name="get-inventory-impl" doc:name="Get Inventory Implementation"/>
    </flow>

    <flow name="post:\inventory\sync:application\json:netsuite-salesforce-api-config" doc:name="POST /inventory/sync">
        <flow-ref name="sync-inventory-impl" doc:name="Sync Inventory Implementation"/>
    </flow>

    <!-- ============================================== -->
    <!-- APIKIT GENERATED FLOWS - HEALTH                -->
    <!-- ============================================== -->
    <flow name="get:\health:netsuite-salesforce-api-config" doc:name="GET /health">
        <flow-ref name="health-check-impl" doc:name="Health Check Implementation"/>
    </flow>

</mule>
